# Site Config

WP_HOME="http://wordpress.dev"
WP_DIR="cms"

# Database Config

DB_NAME="wordpress"
DB_USER="wordpress"
DB_PASSWORD="wordpress"
DB_HOST="localhost"
DB_CHARSET="utf8"
DB_COLLATE=""

DB_TABLE_PREFIX="wp_"

# Security Salts
# Generate some here: https://api.wordpress.org/secret-key/1.1/salt/

AUTH_KEY="put secure salts here"
SECURE_AUTH_KEY="put secure salts here"
LOGGED_IN_KEY="put secure salts here"
NONCE_KEY="put secure salts here"
AUTH_SALT="put secure salts here"
SECURE_AUTH_SALT="put secure salts here"
LOGGED_IN_SALT="put secure salts here"
NONCE_SALT="put secure salts here"

# Developer Flags

WP_DEBUG=true
DISALLOW_FILE_EDIT=true

# Cache Flags
WP_REDIS_DISABLED=true
WP_REDIS_DATABASE=0