/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
/*.zip

/cms/*
/wp-content/mu-plugins/*
/wp-content/plugins/*
/wp-content/themes/*

!/cms/.gitkeep
!/wp-content/mu-plugins/index.php
!/wp-content/plugins/index.php
!/wp-content/themes/index.php

/wp-content/uploads
/wp-content/vendor

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
