##
# Default Ignored Files
##

/.idea
/.vagrant
Homestead.json
Homestead.yaml
*.log
*.sql
*.zip
.DS_Store
.env
.sass-cache
node_modules

/cms

/wp-content/vendor
/wp-content/uploads
/wp-content/upgrade
/wp-content/cache

/wp-content/mu-plugins/*
/wp-content/plugins/*
/wp-content/themes/*
/wp-content/db.php
/wp-content/object-cache.php
/wp-content/advanced-cache.php